@import "partials/setUp";
@import "partials/mixins";
@import "partials/variables";
@import "partials/globals";
@import "partials/header";
@import "partials/base";
@import "partials/cardFlip";
@import "partials/footer";

