.swal2-modal .swal2-image {
    max-width: 50%;
}

.swal2-modal, .swal2-show {
    width: 600px !important;
}

#game {
    background-color: $blue;

    .gameBoard {
        padding: 100px;
    }
}

.tracker {
    text-align: center;

    .time,
    .score {
        display: inline-block;
        padding: 50px;


        h3 {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $olive;
        }
    }
}

.card {
    position: relative;
    perspective: 2000px;
    padding-bottom: 25%;
    width: 25%;
    float: left;
    border: 5px solid #0C3A59;
    border-right: none;
}

.card__front,
.card__back {
    position: absolute;
    transition: transform 0.7s;
    backface-visibility: hidden;
}

.card__back {
    transform: rotateY(0deg);
    background-color: $beige;
    width: 100%;
}

.card__back img {
    width: 100%;
}

.card__front {
    transform: rotateY(-180deg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.card.flipped .card__back {
    transform: rotateY(-180deg);
}

.card.flipped .card__front {
    transform: rotateY(0deg);
}

 .match .card__back {
    transform: rotateY(-180deg);
}

.match .card__front {
    transform: rotateY(0deg);
}