.swal2-modal .swal2-image {
    max-width: 20%;
}

#game {
    background-color: $blue;
    padding: 20px 0px 40px 0px;
    display: none;
    position: relative;
    .gameBoard {
        padding: 5px;
        border: 5px solid $olive;
        border-radius: 10px;
        float: left;
        width: 60vw;
        margin: 50px auto;
    }
    @include respond-to('small') {
        .gameBoard {
            width: 100%;
            margin: 0 auto;
        }
    }
}

.tracker {
    text-align: center;
    float: left;
    width: 20vw;
}

@include respond-to('small') {
    .tracker {
        margin: 0 auto;
        width: 100%;
    }
}

.time,
.score {
    margin: 20px 0;
    padding: 30px 0;

    h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $beige;
    }
    p {
        font-family: $headingFont;
        font-size: 3rem;
        color: #fff;
    }

    @include respond-to('medium') {
        p {
            font-size: 1.3rem;
        }
    }
    @include respond-to('small') {
        p {
            font-size: 3rem;
        }
    }
}

.mascot {
    background-image: url(../../../assets/pugMascot.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 45vh;
    width: 70%;
    margin: 0 auto;
}

@include respond-to('small') {
    .mascot {
        display: none;
    }
}

.leaderBoard {
    width: 50%;
    color: #fff;
    margin: 0 auto;
    text-align: center;

    h2 {
        color: $beige;
        text-transform: uppercase;
        margin-bottom: 15px;
        border-bottom: solid 2px;
        display: inline-block;
        letter-spacing: 5px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}

.card {
    position: relative;
    perspective: 2000px;
    height: 150px;
    width: calc(25% - 10px);
    margin: 5px;
    float: left;
    border: 5px solid #0C3A59;
}

.card__front,
.card__back {
    position: absolute;
    transition: transform 0.7s;
    backface-visibility: hidden;
    border-radius: 10px;
    width: 100%;
}

.card__back {
    transform: rotateY(0deg);
    background-color: #fff;
    padding-top: 20px;
}

.card__back img {
    width: 100%;
    height: 115px;
}

.card__front {
    transform: rotateY(-180deg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.card.flipped .card__back {
    transform: rotateY(-180deg);
}

.card.flipped .card__front {
    transform: rotateY(0deg);
}

.match .card__back {
    transform: rotateY(-180deg);
}

.match .card__front {
    transform: rotateY(0deg);
}

.swal2-modal .swal2-content a {
    display: block;
    margin: 15px auto;

    .fa-circle {
        color: #4099FF;
    }
}