.headerContent {
    position: relative;

    h1 {
        margin: 30px;
        text-shadow: 1px 1px 1px grey;
    }
}

input[type="text"] {
    font-family: $textFont;
    font-size: 1.5rem;
    margin-right: 5px;
    margin-left: 30px;
    border-radius: 5px;
    width: 400px;
    padding: 15px;
    outline: none;
    border: none;
    display: block; 
}

.pugImg {
    position: absolute;
    bottom: -34px;
    right: 0;
}

.bounceInUp {
    animation-duration: 2s;
}

.startBtn {
    margin: 50px 0 0 30px;
}

.startBtn a {
    background-color: $olive;
    border: 2px solid $olive;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 2px;
    transition: all 0.5s;
    &:hover {
        background-color: $beige;
        color: $olive
    }
}

.intro {
    margin: 20px;

    p {
        padding: 20px;
    }
}