.headerContent {
    position: relative;
    h1 {
        margin: 30px;
        text-shadow: 1px 1px 1px grey;
    }
    @include respond-to('medium') {
        h1 {
            font-size: 6rem;
            text-align: center;
        }
    }
    @include respond-to('small') {
        h1 {
            font-size: 5rem;
            text-align: center;
        }
    }
}

input[type="text"] {
    font-family: $textFont;
    font-size: 1.5rem;
    margin-right: 5px;
    margin-left: 30px;
    border-radius: 5px;
    width: 400px;
    padding: 15px;
    outline: none;
    border: none;
    display: block;
}

@include respond-to('medium') {
    input[type="text"] {
        width: 300px;
        margin: 0 auto;
    }
}

.pugImg .pug {
    position: absolute;
    top: calc(100vh - 500px);
    right: 0;
}

.pugImg .pugPair {
    display: none;
}

@include respond-to('medium') {
    .pugImg .pug {
        display: none;
    }
    .pugImg .pugPair {
        display: block;
        margin: 0 auto;
    }
}

@include respond-to('small') {
    .pugImg .pugPair {
        width: 90%
    }
}

.bounceInUp {
    animation-duration: 2s;
}

.startBtn {
    margin: 50px 0 0 30px;
    display: block;
}

@include respond-to('medium') {
    .startBtn {
        margin: 50px auto;
    }
}

.startBtn a {
    background-color: $olive;
    border: 2px solid $olive;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 2px;
    transition: all 0.5s;
    &:hover {
        background-color: $beige;
        color: $olive
    }
}

.intro {
    margin: 20px;
    p {
        padding: 20px;
    }
}
